.about__wrapper {

}
.about {

}
@media screen and (min-width: 1024px)  {
    .about__block {
        display: flex;
        align-items: center;
        background-color: var(--third-brand-color);
        padding: 5rem;
    }
    .about__block .img {
        margin: 0;
        margin-right: 5rem;
    }
    .about__block .text {
        color: var(--sub-text-color);
    }
    .about__block--rr {
        flex-direction: row-reverse;
    }
    .about__block--rr .img {
        margin: 0;
        margin-left: 5rem;
    }
}